table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.dessus {
  /*page superposée ldkeiedkkd*/
  position: fixed;
  z-index: 2; /* au dessus du reste */
  width: 800px; /* largeur */
  min-height: 550px; /* hauteur */
  top: 10%; /* a 10% du haut */
  left: 20%; /* a 20% de la gauche */
  overflow: auto;
  background-color: #87cefa;
  border-radius: 14px;
  text-align: center;
}
.boutonfermer {
  margin-top: 15px;
}
table {
  width: 100%;
  border-collapse: separate; /* Change from collapse to separate */
  border-spacing: 0; /* Make sure there's no spacing between cells */
  background-color: lightblue;
  border-radius: 15px; /* Apply border radius to the table */
  overflow: hidden; /* Ensure content inside the table respects the border radius */
  border: 2px solid #000; /* Add the black border around the table */
}

td {
  border: 2px solid #000; /* Bordure épaisse autour des cellules (2px ici, ajustez selon besoin) */
  padding: 12px; /* Espacement interne (augmenté pour plus d'espace) */
  text-align: left; /* Alignement du texte */
}

th {
  border: 2px solid #000;
  text-align: center;
  background-color: #87cefa; /* Fond légèrement gris pour les en-têtes */
  color: #333; /* Couleur du texte pour les en-têtes */
  border-bottom: 3px solid #000; /* Bordure inférieure plus épaisse pour les en-têtes */
}

.voirordo {
  width: 180px;
  height: 40px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: #003366;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.center {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  align-content: center;
  justify-content: center;
}
