<table>
  <thead>
  <tr>
    <th>
      Médecin
    </th>
    <th>
      Médicaments
    </th>
    <th>
      Date
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  @for (med of medRequest ; track med.id) {
  <tr>
 <td>{{med.requester?.display}}</td>
   @if (med.medication?.concept?.coding?.[0]?.display) {
  <td>{{med.medication?.concept?.coding?.[0]?.display }}</td>
  } @else {
  <td>No Display Available</td>
  }


  <td>{{ med.authoredOn }}</td>
<td><button class="voirordo" (click)="toggleClickOrdonnance(med)" type="button">Voir ordonnance</button></td>
  </tr>


  }
  </tbody>

</table>

@for (med of medRequest ; track med.id) {
@if (clickOrdonnance) {
<div class="dessus">
  <p> Détails de l'ordonnance</p>
  <p> Nom du médicament: {{ selectedMedicationRequest?.medication?.concept?.coding?.[0]?.display }}</p>
  <p> Note du médecin : {{ selectedMedicationRequest?.note?.[0]?.text }}</p>
<app-medication-form/>
 <button class="voirordo"(click)="toggleClickOrdonnance(med)">Fermer l'ordonnance</button>
</div>

}
}
